**/.git
**/.gitignore
**/.github
**/.DS_Store
**/*.swp
**/*.swo
**/*.log

bin/
dist/
tmp/

data/
backup/

node_modules/
npm-debug.log

*.db
*.sqlite
*.sqlite3

config.yaml
config.*.yaml
config.*.yml

Dockerfile
docker-compose.yml
README.md
LICENSE
